* {
  padding: 0;
  margin: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sidebar-nav {
  margin: 20px 0 0 0;
  list-style: none;
  min-width: 150px;
}
hr {
  width: 65%;
}
.detail_instance_list > dt {
  margin: 10px 0 0 20px;
}
.detail_instance_list > dd {
  margin: 0 0 0 40px;
}
.category_detail hr {
  width: 100%;
}