extends layout 

block content 
  h1= title 

  form(method='POST' action='')
    div.form-group 
      label(for='title') Category: 
      input#title.form-control(type='text', placeholder='Sendy' name='title' value=(undefined===category ? '' : category.title), required='true')
    button.btn.btn-primary(type='submit') Submit 

  br
 
  if errors 
    hr
    br
    ul.err-list 
      for error in errors 
        li  #{error.msg}!