doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width', initial-scale='1')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container-fluid
      div.row
        div.col-sm-3
          block sidebar  
            ul(class='sidebar-nav')
              li 
                a(href='/catalog') Home 
              li 
                a(href='/catalog/categories') All Categories
              li 
                a(href='/catalog/brands') All Brands 
              li 
                a(href='/catalog/goggles') All Goggles
              li 
                a(href='/catalog/goggleslist') All Goggle + Lens
              li 
                a(href='/catalog/tags') All Tags 
              li 
                hr
              li 
                a(href='/catalog/category/create') Create Category   
              li 
                a(href='/catalog/brand/create') Create Brand 
              li 
                a(href='/catalog/goggle/create') Create Goggle
              li 
                a(href='/catalog/goggleinstance/create') Create Goggle + Lens                  
              li 
                a(href='/catalog/tag/create') Create Tag 
        div.col-sm-9
          block content
