extends layout 

block content 
  h1= title 

  form(method='POST' action='')
    div.form-group 
      label(for='name') Tag: 
      input#name.form-control(type='text', placeholder='Super Sendy' name='name' value=(undefined===tag ? '' : tag.name), required='true')
    button.btn.btn-primary(type='submit') Submit 

  br
 
  if errors 
    hr
    br
    ul.err-list 
      for error in errors 
        li  #{error.msg}!